.Dropzone {
  height: 7rem;
  /*width: 200px;*/
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.Highlight {
  background-color: rgb(188, 185, 236);
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}
